<html ng-app="ColorWheel" ng-csp>
	<head>
		<title>Color Picker</title>
		<meta charset="utf-8">
	    <script src="scripts/jquery.min.js"></script>
	    <script src="scripts/angular.min.js"></script>
	    <script src="scripts/bootstrap.min.js"></script>
	    <script src="scripts/app.js"></script>
	    <script src="scripts/constants.js"></script>
	    <script src="scripts/services/ColorWheelService.js"></script>
	    <script src="scripts/controllers/ColorWheelController.js"></script>
	    <link rel="stylesheet" type="text/css" href="styles/bootstrap.min.css" />
	    <link rel="stylesheet" type="text/css" href="styles/main.css" />
	</head>

	<body>
		<div id="container" ng-controller="ColorWheelController" ng-mouseup="onMouseUp($event)">
      		<div id="display" class="calc-display">
      			<div class="button-row" style="flex-basis: 47%">
      				<div class="rest-block-top"></div>
      				<div class="color-block">	
      					<a class="color-tag" id="mainColor" href style="background-color: {{mainColor.hex}}"><span class="badge">{{(mainColor.v * 100).toFixed(0)}}%</span>
      						<div class="slider"><input type="range" min="0" max="1" value="1" step="0.01" ng-model="mainColor.v" ng-mousedown="onRangeDown(0)" ng-mousemove = "onRangeMove()"/></div>
      					</a>
      					<div class="color-name">
      						<div class="button-row" data-toggle="tooltip" title="RGB" style="margin:0px">
      							<input class="button-column" placeholder="R" ng-model="mainColor.rv"
      								ng-class="{'alert-warning': invalidRGB(mainColor.rv)}" ng-change="updateColorInput(0, 'rv')"></input>
      							<input class="button-column" placeholder="G" ng-model="mainColor.gv"
      								ng-class="{'alert-warning': invalidRGB(mainColor.gv)}" ng-change="updateColorInput(0, 'gv')"></input>
      							<input class="button-column" placeholder="B" ng-model="mainColor.bv"
      								ng-class="{'alert-warning': invalidRGB(mainColor.bv)}" ng-change="updateColorInput(0, 'bv')"></input>
      						</div>
      						<div class="button-row" data-toggle="tooltip" title="HEX">
      							<input class="button-column" placeholder="HEX" ng-model="mainColor.hex"></input>
      						</div>
      					</div>
      					
      				</div>
      			</div>
      			<div class="button-row" style="flex-basis: 6%;min-height:18px">{{composeType}}</div>
      			<div class="button-row" style="flex-basis: 47%">
      				<div class="rest-block-bottom-{{colorShown}}"></div>
      				<div class="color-block" ng-class="{'hide': colorShown != 'three'}">
      					<a class="color-tag" href href style="background-color: {{thirdColor.hex}}"><span class="badge">{{(thirdColor.v * 100).toFixed(0)}}%</span>
      						<div class="slider"><input type="range" min="0" max="1" value="1" step="0.01" ng-model="thirdColor.v" ng-mousedown="onRangeDown(3)" ng-mousemove = "onRangeMove()"/></div>
      					</a>
      					<div class="color-name">
      						<div class="button-row" data-toggle="tooltip" title="RGB" style="margin:0px">
      							<input class="button-column" placeholder="R" ng-model="thirdColor.rv"
      								ng-class="{'alert-warning': invalidRGB(thirdColor.rv)}" ng-change="updateColorInput(3,'rv')"></input>
      							<input class="button-column" placeholder="G" ng-model="thirdColor.gv"
      								ng-class="{'alert-warning': invalidRGB(thirdColor.gv)}" ng-change="updateColorInput(3, 'gv')"></input>
      							<input class="button-column" placeholder="B" ng-model="thirdColor.bv"
      								ng-class="{'alert-warning': invalidRGB(thirdColor.bv)}" ng-change="updateColorInput(3, 'bv')"></input>
      						</div>
      						<div class="button-row" data-toggle="tooltip" title="HEX">
      							<input class="button-column" placeholder="HEX" ng-model="thirdColor.hex"></input>
      						</div>
      					</div>
      				</div>
      				<div class="color-block" ng-class="{'hide': colorShown == 'one'}">
      					<a class="color-tag" href href style="background-color: {{secondColor.hex}}"><span class="badge">{{(secondColor.v * 100).toFixed(0)}}%</span>
      						<div class="slider"><input type="range" min="0" max="1" value="1" step="0.01" ng-model="secondColor.v" ng-mousedown="onRangeDown(2)" ng-mousemove = "onRangeMove()"/></div>
      					</a>
      					<div class="color-name">
      						<div class="button-row" data-toggle="tooltip" title="RGB" style="margin:0px">
      							<input class="button-column" placeholder="R" ng-model="secondColor.rv"
      								ng-class="{'alert-warning': invalidRGB(secondColor.rv)}" ng-change="updateColorInput(2, 'rv')"></input>
      							<input class="button-column" placeholder="G" ng-model="secondColor.gv"
      								ng-class="{'alert-warning': invalidRGB(secondColor.gv)}" ng-change="updateColorInput(2, 'gv')"></input>
      							<input class="button-column" placeholder="B" ng-model="secondColor.bv"
      								ng-class="{'alert-warning': invalidRGB(secondColor.bv)}" ng-change="updateColorInput(2, 'bv')"></input>
      						</div>
      						<div class="button-row" data-toggle="tooltip" title="HEX">
      							<input class="button-column" placeholder="HEX" ng-model="secondColor.hex"></input>
      						</div>
      					</div>
      				</div>
      				<div class="color-block">
      					<a class="color-tag" href href style="background-color: {{firstColor.hex}}"><span class="badge">{{(firstColor.v * 100).toFixed(0)}}%</span>
                                          <div class="slider"><input type="range" min="0" max="1" value="1" step="0.01" ng-model="firstColor.v" ng-mousedown="onRangeDown(1)" ng-mousemove = "onRangeMove()"/></div>
                                    </a>
                                    <div class="color-name">
                                          <div class="button-row" data-toggle="tooltip" title="RGB" style="margin:0px">
                                                <input class="button-column" placeholder="R" ng-model="firstColor.rv"
                                                      ng-class="{'alert-warning': invalidRGB(firstColor.rv)}" ng-change="updateColorInput(1, 'rv')"></input>
                                                <input class="button-column" placeholder="G" ng-model="firstColor.gv"
                                                      ng-class="{'alert-warning': invalidRGB(firstColor.gv)}" ng-change="updateColorInput(1, 'gv')"></input>
                                                <input class="button-column" placeholder="B" ng-model="firstColor.bv"
                                                      ng-class="{'alert-warning': invalidRGB(firstColor.bv)}" ng-change="updateColorInput(1, 'bv')"></input>
                                          </div>
                                          <div class="button-row" data-toggle="tooltip" title="HEX">
                                                <input class="button-column" placeholder="HEX" ng-model="firstColor.hex"></input>
                                          </div>
                                    </div>
      				</div>
      			</div>
      		</div>
		    <div id="buttons" class="button-row">
		    	<div class="pointer-outer">
		    		<span class="picker" id="colorpicker" style="left: {{mainColor.x}}px;top: {{mainColor.y}}px" ng-mousedown="onMouseDown('main', $event)"></span>
                        <span class="picker" id="firstPicker" style="left: {{firstColor.x}}px;top: {{firstColor.y}}px" ng-mousedown="onMouseDown('first', $event)"></span>
                        <span class="picker" id="secondPicker" style="left: {{secondColor.x}}px;top: {{secondColor.y}}px" ng-mousedown="onMouseDown('second', $event)" ng-class="{'hide': colorShown == 'one'}"></span>
                        <span class="picker" id="thirdPicker" style="left: {{thirdColor.x}}px;top: {{thirdColor.y}}px" ng-mousedown="onMouseDown('third', $event)" ng-class="{'hide': colorShown != 'three'}"></span>
		    	</div>
		    	<div class="button-column calc-wheel" style="flex-basis: 200%">
		    		<canvas id="colorWheel" class="pointer-outer"  ng-mousemove="onMouseMove($event)"/>
		    	</div>
		        <div class="button-column" style="flex-basis: 100%" >
					<div class="button-row" ng-repeat= "choice in choices">
						<div class="calc-button" ng-repeat = "c in choice" ng-click = "chooseComposeType(c.value)">{{c.src}}</div>
					</div>
		        </div>
		    </div>
		</div>
	</body>
</html>