<html ng-app="ColorWheel" ng-csp>
	<head>
		<title>Color Picker</title>
		<meta charset="utf-8">
	    <script src="scripts/jquery.min.js"></script>
	    <script src="scripts/angular.min.js"></script>
	    <script src="scripts/bootstrap.min.js"></script>
	    <script src="scripts/app.js"></script>
	    <script src="scripts/constants.js"></script>
	    <script src="scripts/services/ColorWheelService.js"></script>
	    <script src="scripts/controllers/ColorWheelController.js"></script>
	    <link rel="stylesheet" type="text/css" href="styles/bootstrap.min.css" />
	    <link rel="stylesheet" type="text/css" href="styles/main.css" />
	</head>

	<body>
		<div id="container" ng-controller="ColorWheelController" ng-mouseup="onMouseUp($event)">
      		<div id="display" class="calc-display">
      			<div class="button-row" style="flex-basis: 47%">
      				<div class="rest-block-top"></div>
      				<div class="color-block">	
      					<a class="color-tag" id="mainColor" href style="background-color: {{mainColor.hex}}"><span class="badge">{{mainColor.v}}%</span>
      						<div class="slider"><input type="range" min="0" max="100" value="100" step="1" ng-model="mainColor.v"/></div>
      					</a>
      					<div class="color-name">
      						<div class="button-row" data-toggle="tooltip" title="RGB" style="margin:0px">
      							<input class="button-column" placeholder="R" ng-model="mainColor.r"
      								ng-class="{'alert-warning': invalidRGB(mainColor.r)}" ng-change="updateColorInput(0, 'r')"></input>
      							<input class="button-column" placeholder="G" ng-model="mainColor.g"
      								ng-class="{'alert-warning': invalidRGB(mainColor.g)}" ng-change="updateColorInput(0, 'g')"></input>
      							<input class="button-column" placeholder="B" ng-model="mainColor.b"
      								ng-class="{'alert-warning': invalidRGB(mainColor.b)}" ng-change="updateColorInput(0, 'b')"></input>
      						</div>
      						<div class="button-row" data-toggle="tooltip" title="HEX">
      							<input class="button-column" placeholder="HEX" ng-model="mainColor.hex"></input>
      						</div>
      					</div>
      					
      				</div>
      			</div>
      			<div class="button-row" style="flex-basis: 6%;min-height:18px">{{composeType}}</div>
      			<div class="button-row" style="flex-basis: 47%">
      				<div class="rest-block-bottom-{{colorShown}}"></div>
      				<div class="color-block" ng-class="{'hide': colorShown != 'three'}">
      					<a class="color-tag" href href style="background-color: {{thirdColor.hex}}"><span class="badge">{{thirdColor.v}}%</span>
      						<div class="slider"><input type="range" min="0" max="100" value="100" step="1" ng-model="thirdColor.v"/></div>
      					</a>
      					<div class="color-name">
      						<div class="button-row" data-toggle="tooltip" title="RGB" style="margin:0px">
      							<input class="button-column" placeholder="R" ng-model="thirdColor.r"
      								ng-class="{'alert-warning': invalidRGB(thirdColor.r)}" ng-change="updateColorInput(3,'r')"></input>
      							<input class="button-column" placeholder="G" ng-model="thirdColor.g"
      								ng-class="{'alert-warning': invalidRGB(thirdColor.g)}" ng-change="updateColorInput(3, 'g')"></input>
      							<input class="button-column" placeholder="B" ng-model="thirdColor.b"
      								ng-class="{'alert-warning': invalidRGB(thirdColor.b)}" ng-change="updateColorInput(3, 'b')"></input>
      						</div>
      						<div class="button-row" data-toggle="tooltip" title="HEX">
      							<input class="button-column" placeholder="HEX" ng-model="thirdColor.hex"></input>
      						</div>
      					</div>
      				</div>
      				<div class="color-block" ng-class="{'hide': colorShown == 'one'}">
      					<a class="color-tag" href href style="background-color: {{secondColor.hex}}"><span class="badge">{{secondColor.v}}%</span>
      						<div class="slider"><input type="range" min="0" max="100" value="100" step="1" ng-model="secondColor.v"/></div>
      					</a>
      					<div class="color-name">
      						<div class="button-row" data-toggle="tooltip" title="RGB" style="margin:0px">
      							<input class="button-column" placeholder="R" ng-model="secondColor.r"
      								ng-class="{'alert-warning': invalidRGB(secondColor.r)}" ng-change="updateColorInput(2, 'r')"></input>
      							<input class="button-column" placeholder="G" ng-model="secondColor.g"
      								ng-class="{'alert-warning': invalidRGB(secondColor.g)}" ng-change="updateColorInput(2, 'g')"></input>
      							<input class="button-column" placeholder="B" ng-model="secondColor.b"
      								ng-class="{'alert-warning': invalidRGB(secondColor.b)}" ng-change="updateColorInput(2, 'b')"></input>
      						</div>
      						<div class="button-row" data-toggle="tooltip" title="HEX">
      							<input class="button-column" placeholder="HEX" ng-model="secondColor.hex"></input>
      						</div>
      					</div>
      				</div>
      				<div class="color-block">
      					<a class="color-tag" href href style="background-color: {{firstColor.hex}}"><span class="badge">{{firstColor.v}}%</span>
                                          <div class="slider"><input type="range" min="0" max="100" value="100" step="1" ng-model="firstColor.v"/></div>
                                    </a>
                                    <div class="color-name">
                                          <div class="button-row" data-toggle="tooltip" title="RGB" style="margin:0px">
                                                <input class="button-column" placeholder="R" ng-model="firstColor.r"
                                                      ng-class="{'alert-warning': invalidRGB(firstColor.r)}" ng-change="updateColorInput(1, 'r')"></input>
                                                <input class="button-column" placeholder="G" ng-model="firstColor.g"
                                                      ng-class="{'alert-warning': invalidRGB(firstColor.g)}" ng-change="updateColorInput(1, 'g')"></input>
                                                <input class="button-column" placeholder="B" ng-model="firstColor.b"
                                                      ng-class="{'alert-warning': invalidRGB(firstColor.b)}" ng-change="updateColorInput(1, 'b')"></input>
                                          </div>
                                          <div class="button-row" data-toggle="tooltip" title="HEX">
                                                <input class="button-column" placeholder="HEX" ng-model="firstColor.hex"></input>
                                          </div>
                                    </div>
      				</div>
      			</div>
      		</div>
		    <div id="buttons" class="button-row">
		    	<div class="pointer-outer">
		    		<span class="picker" id="colorpicker" style="left: {{mainColor.x}}px;top: {{mainColor.y}}px" ng-mousedown="onMouseDown('main', $event)"></span>
                        <span class="picker" id="firstPicker" style="left: {{firstColor.x}}px;top: {{firstColor.y}}px" ng-mousedown="onMouseDown('first', $event)"></span>
                        <span class="picker" id="secondPicker" ng-class="{'hide': colorShown == 'one'}"></span>
                        <span class="picker" id="thirdPicker" ng-class="{'hide': colorShown != 'three'}"></span>
		    	</div>
		    	<div class="button-column calc-wheel" style="flex-basis: 200%">
		    		<canvas id="colorWheel" class="pointer-outer"  ng-mousemove="onMouseMove($event)"/>
		    	</div>
		        <div class="button-column" style="flex-basis: 100%" >
					<div class="button-row" ng-repeat= "choice in choices">
						<div class="calc-button" ng-repeat = "c in choice" ng-click = "chooseComposeType(c.value)">{{c.src}}</div>
					</div>
		        </div>
		    </div>
		</div>
	</body>
</html>